<!DOCTYPE html>
<html>
<body>
    <h2>Other Awards</h2>
    <div>
        <div>
            <ul>
                <li><a href="https://en.wikipedia.org/wiki/Bharat_Ratna">Bharat Ratna</a></li><br><br>
                <li><a href="https://en.wikipedia.org/wiki/Padma_Shri">Padma Shri</a></li><br><br>
                <li><a href="https://en.wikipedia.org/wiki/Order_of_Merit">Order of Merit</a></li><br><br>
                <li><a href="https://en.wikipedia.org/wiki/Albert_Schweitzer_Prize_for_Humanitarianism">Albert Schweitzer International Prize
                </a></li><br><br>
                <li><a href="https://en.wikipedia.org/wiki/Templeton_Prize">Templeton Prize</a></li><br><br>
                <li><a href="https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Award">Jawaharlal Nehru Award for International Understanding
                </a></li>
            </ul>
        </div>
    </div>
</body>
<style>
    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        font: 30px;
    }

    a:hover{
        text-decoration: underline;
    }
</style>
</html>