<!DOCTYPE html>
<html>
<body>
    <h2 style="padding-top: 10px;">Nobel Peace Price</h2>
    <p style="width: 100%;">
        The Norwegian Nobel Committee has awarded the Nobel Peace Prize for 1979 to Mother Teresa.

        Thirty years ago Mother Teresa left her teaching post at a Roman Catholic girls’ school in Calcutta in order to devote her life to working among the poorest of the poor in the slums of that city.

        The Roman Catholic order of which she is now the head has in recent years extended its activities to include a number of other Indian cities and other parts of the world.

        In making the award the Norwegian Nobel Committee has expressed its recognition of Mother Teresa’s work in bringing help to suffering humanity. This year the world has turned its attention to the plight of children and refugees, and these are precisely the categories for whom Mother Teresa has for many years worked so selflessly.
    </p>
    <h2 id="Speech">Nobel Price Acceptance Speech</h2>
    <audio controls currentTime src="audio.mp3">Look's like your browser doesn't support HTML5, 
    download latest version of Google Chrome.</audio>
    
    <video  autoplay controls muted width="420" height="340">
        <source src="video.mp4" type="video/mp4">
        Look's like your browser doesn't support HTML5, download latest version of Google Chrome. <a href="https://www.youtube.com/watch?v=I36Nistc9wE">video.</a>
    </video>
</body>
</html>